@{
    ViewBag.Title = "About";
}

<article>

    <div id="maia-main" role="main">

        <div class="maia-article" role="article">
            <div class="suez-cols">
                <div class="maia-aside feature-banner">
                    <div class="suez-cols">
                        <div class="suez-col-4">
                            <h1 class="analysis-tools">Content Analytics
                            </h1>
                            <p>
                                Find your site’s top content and hidden gems with the Content reports in Google
                  Analytics. You'll find out how often people visit each page of your site, how
                  long they stay, and how often they convert. All the reports are found in the
                  content section.
                            </p>
                        </div>

                    </div>
                </div>
            </div>
            <div class="suez-cols feature-content">
                <div class="suez-col-3">
                    <p>
                        <img alt="Content" src="http://www.google.com/analytics/images/content_promo_integration.png">
                    </p>
                </div>
                <div class="suez-col-7">
                    <h3>Content Experiments: Test and improve your web pages
                    </h3>
                    <p>
                        Eliminate the guesswork from designing your website. Test variations of your pages so
              you know which designs lead to the most conversions. You can simply set up these
              tests in Google Analytics, under Experiments in the Content section.
                    </p>

                </div>
            </div>
            <div class="suez-cols feature-content">
                <div class="suez-col-3">
                    <p>
                        <img alt="" src="http://www.google.com/analytics/images/content_promo_sitesearch.png">
                    </p>
                </div>
                <div class="suez-col-7">
                    <h3>Site Search: Get visitors to their destinations faster
                    </h3>
                    <p>
                        When visitors can’t find what they’re looking for, they search. With Site Search
              reporting in Google Analytics you can find out what your visitors are really looking
              for. Find missed product opportunities and speed up time to conversion.
                    </p>

                </div>
            </div>
            <div class="suez-cols feature-content">
                <div class="suez-col-3">
                    <p>
                        <img alt="" src="http://www.google.com/analytics/images/content_promo_inpage.png">
                    </p>
                </div>
                <div class="suez-col-7">
                    <h3>In-Page Analytics: See how visitors move within your site
                    </h3>
                    <p>
                        When looking at Google Analytics reports, sometimes it’s difficult to visualize how
              visitors navigate on a given website page. Use In-Page Analytics to visually analyze
              how visitors move around your website.
                    </p>

                </div>
            </div>
            <div class="suez-cols feature-content">
                <div class="suez-col-3">
                    <p>
                        <img alt="" src="http://www.google.com/analytics/images/content_promo_sitespeed.png">
                    </p>
                </div>
                <div class="suez-col-7">
                    <h3>Site Speed Analysis: Uncover problems before your customers do
                    </h3>
                    <p>
                        We all know how frustrating a slow loading website can be and it can even hurt your
              advertising and search rankings. See how long your pages take to load with the Site
              Speed report in Google Analytics. Find and fix slow pages and make your visitors
              happier.
                    </p>

                </div>
            </div>
            <div class="suez-cols feature-content">
                <div class="suez-col-3">
                    <p>
                        <img alt="Event Tracking" src="http://www.google.com/analytics/images/content_promo_eventrack.png">
                    </p>
                </div>
                <div class="suez-col-7">
                    <h3>Event Tracking: Understand what visitors do on your site
                    </h3>
                    <p>
                        It’s really useful to understand how visitors interact with your pages. See how often
              they’re interacting with Flash and AJAX elements, or clicking the links to download
              product brochures. You can even set up event tracking to get a more detailed look at
              how your visitors behave.
                    </p>

                </div>
            </div>

        </div>
    </div>
</article>

@*<aside>
    <h3>Aside Title</h3>
    <p>
        Use this area to provide additional information.
    </p>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
</aside>*@